
main {
    padding: 5vh 10vw;
}
.box {
    border: solid 1px black;
    margin-bottom: 3rem;
}
.box > h2 {
    
    width: fit-content;
    margin: 0 0 0 1rem;
    padding: 0 1rem;
    background-color: white;
    position: relative;
    border-radius: 1.5rem;
    border: solid 1px black;
    top: -1rem;   
}
