.phpFooter {
    text-align: center;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    background-color: rgba(63, 62, 62, 0.5);
    color: rgb(244, 250, 208);
    position: fixed;
    bottom: 4px;
    left: 4px;
    transition: all 0.4s;
    width: 3rem;
    overflow: hidden;
    text-indent: 3rem;
    font-family: 'Roboto', sans-serif;
}

.phpFooter > a:visited, .phpFooter > a:active, .phpFooter a:link {
    color: inherit;
}

#gitIcon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 2rem;
    margin: auto;
}

.phpFooter:hover {
    background-color:  rgba(63, 62, 62, 1);
    width: fit-content;
    overflow: visible;
    padding-right: 1rem;
    transition: all 0.4s;
}
