.phpFooter {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 2rem;
    background-color: rgba(63, 62, 62, 0.5);
    color: rgb(244, 250, 208);
    position: fixed;
    bottom: 4px;
    left: 4px;
    width: fit-content;
    transition: background 0.4s;
}

.phpFooter > a:visited {
    color: inherit;
}

.phpFooter:hover {
    background-color:  rgba(63, 62, 62, 1);
}
