body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.header{
  line-height: 30px;
  text-align: center;
}
main{
  width: 100vw;
  height: calc(100vh - 30px);
}
nav{
  height: 100%;
  width: 30%;
  background-color: lightblue;
  float: left;
}
article {
  width: 70%;
  float: right;
  background-color: skyblue;
  box-sizing: border-box;
  border: solid 1px gray;
}
.out {
  height: 70%;
}
.sql {
  height: 30%;
}


